<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supportedApps</key>
	<array>
		<dict>
			<key>appleID</key>
			<string>287273856</string>
			<key>bundleID</key>
			<string>com.dummy.dummyApp</string>
			<key>canReceive</key>
			<true/>
			<key>canSend</key>
			<true/>
			<key>liveOnAppStore</key>
			<true/>
			<key>description</key>
			<string>An app that doesn&apos;t exist</string>
			<key>freeApp</key>
			<true/>
			<key>name</key>
			<string>DummyApp</string>
			<key>platform</key>
			<string>universal</string>
			<key>scheme</key>
			<string>dummyApp-photoapplink</string>
			<key>thumbnail2xURL</key>
			<string>http://server.com/dummy.png</string>
			<key>thumbnailURL</key>
			<string>http://server.com/dummy.png</string>
		</dict>
		<dict>
			<key>appleID</key>
			<string>304871603</string>
			<key>bundleID</key>
			<string>com.hkueck.colorsplash</string>
			<key>canReceive</key>
			<true/>
			<key>canSend</key>
			<true/>
			<key>liveOnAppStore</key>
			<true/>
			<key>description</key>
			<string>Fun and intuitive selective coloring app.</string>
			<key>freeApp</key>
			<false/>
			<key>name</key>
			<string>ColorSplash</string>
			<key>platform</key>
			<string>iPhone</string>
			<key>scheme</key>
			<string>colorsplash-photoapplink</string>
			<key>thumbnail2xURL</key>
			<string>http://photoapplinkicons.s3.amazonaws.com/ColorSplash@2x.png</string>
			<key>thumbnailURL</key>
			<string>http://photoapplinkicons.s3.amazonaws.com/ColorSplash.png</string>
		</dict>
		<dict>
			<key>appleID</key>
			<string>422991479</string>
			<key>bundleID</key>
			<string>br.com.iphonebrazuca.cameranotes</string>
			<key>canReceive</key>
			<true/>
			<key>canSend</key>
			<true/>
			<key>liveOnAppStore</key>
			<true/>
			<key>description</key>
			<string>Add notes to your pictures!</string>
			<key>freeApp</key>
			<false/>
			<key>name</key>
			<string>Snap!</string>
			<key>platform</key>
			<string>iPhone</string>
			<key>scheme</key>
			<string>snap-photoapplink</string>
			<key>thumbnail2xURL</key>
			<string>http://static.snap.codecrop.com/Icon@2x.png</string>
			<key>thumbnailURL</key>
			<string>http://static.snap.codecrop.com/Icon.png</string>
		</dict>
		<dict>
			<key>appleID</key>
			<string>374308914</string>
			<key>bundleID</key>
			<string>com.hkueck.colorsplashipad</string>
			<key>canReceive</key>
			<true/>
			<key>canSend</key>
			<true/>
			<key>liveOnAppStore</key>
			<true/>
			<key>description</key>
			<string>Fun and intuitive selective coloring app.</string>
			<key>freeApp</key>
			<false/>
			<key>name</key>
			<string>ColorSplash for iPad</string>
			<key>platform</key>
			<string>iPad</string>
			<key>scheme</key>
			<string>colorsplashipad-photoapplink</string>
			<key>thumbnail2xURL</key>
			<string>http://photoapplinkicons.s3.amazonaws.com/ColorSplash@2x.png</string>
			<key>thumbnailURL</key>
			<string>http://photoapplinkicons.s3.amazonaws.com/ColorSplash.png</string>
		</dict>
		<dict>
			<key>appleID</key>
			<string>123456789</string>
			<key>bundleID</key>
			<string>com.pocketpixels.PhotoAppLinkTestApp</string>
			<key>canReceive</key>
			<true/>
			<key>canSend</key>
			<true/>
			<key>liveOnAppStore</key>
			<true/>
			<key>description</key>
			<string>App for testing the protocol</string>
			<key>freeApp</key>
			<true/>
			<key>name</key>
			<string>Test App</string>
			<key>platform</key>
			<string>iPhone</string>
			<key>scheme</key>
			<string>photoapplinktestapp-photoapplink</string>
			<key>thumbnail2xURL</key>
			<string>http://photoapplinkicons.s3.amazonaws.com/TestApp2x.png</string>
			<key>thumbnailURL</key>
			<string>http://photoapplinkicons.s3.amazonaws.com/TestApp.pngg</string>
		</dict>
		<dict>
			<key>appleID</key>
			<string>287273856</string>
			<key>bundleID</key>
			<string>com.omer.shoor</string>
			<key>canReceive</key>
			<true/>
			<key>canSend</key>
			<true/>
			<key>liveOnAppStore</key>
			<true/>
			<key>description</key>
			<string>Full featured photo editing app.</string>
			<key>freeApp</key>
			<false/>
			<key>name</key>
			<string>Photogene</string>
			<key>platform</key>
			<string>iPhone</string>
			<key>scheme</key>
			<string>Photogene-photoapplink</string>
			<key>thumbnail2xURL</key>
			<string>http://photoapplinkicons.s3.amazonaws.com/Photogene@2x.png</string>
			<key>thumbnailURL</key>
			<string>http://photoapplinkicons.s3.amazonaws.com/Photogene.png</string>
		</dict>
		<dict>
			<key>appleID</key>
			<string>318944927</string>
			<key>bundleID</key>
			<string>unknown.autostitch</string>
			<key>canReceive</key>
			<false/>
			<key>canSend</key>
			<true/>
			<key>liveOnAppStore</key>
			<true/>
			<key>description</key>
			<string>Generate high quality panoramas automatically</string>
			<key>freeApp</key>
			<false/>
			<key>name</key>
			<string>Autostitch</string>
			<key>platform</key>
			<string>iPhone</string>
			<key>thumbnail2xURL</key>
			<string>http://photoapplinkicons.s3.amazonaws.com/Autostitch@2x.png</string>
			<key>thumbnailURL</key>
			<string>http://photoapplinkicons.s3.amazonaws.com/Autostitch.png</string>
		</dict>
	</array>
</dict>
</plist>
